:root {
  --amarelo: #fe9e0d;
  --amarelo-secondary: #f4980d;
  --gray-dark: #373737;
  --gray-title: #4c4c4c;
  --gray-paragraph: #828282;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.button {
  background-color: var(--amarelo);
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;

  width: fit-content;
  padding: 30px 55px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #f4980d;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 862px 1077px;
  background-color: #f6f6f6;
  max-width: 100vw;
  max-height: 100vh;
}

.title {
  font-size: 60px;
  font-weight: 700;
  color: var(--gray-title);
}

.paragraph {
  font-size: 25px;
  font-weight: 600;
  color: var(--gray-paragraph);
}

.subtitle {
  font-size: 25px;
  font-weight: 700;
  color: var(--amarelo-secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px;

  .brand {
    font-size: 45px;
    font-family: "Reem Kufi", sans-serif;
    font-weight: 500;
    color: var(--amarelo);
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-size: 21px;
      font-weight: 700;
      color: var(--gray-dark);
    }
  }

  button {
    font-size: 21px;
    font-weight: 700;
    color: var(--gray-dark);
    background-color: var(--white);
    padding: 23px 34px;
    border-radius: 72px;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.section-first-dish {
  max-height: 1052px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-inline: 80px;

  .title {
    margin-top: 116px;
  }

  p {
    margin-block: 48px;
  }

  img {
    max-width: 100%;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.section-first-dish > div {
  display: flex;
  flex-direction: column;
}

.section-secondary-dish {
  background-image: url("../img/background-left.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 331px 1052px;

  position: relative;

  min-height: 1052px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-inline: 80px;

  img {
    max-width: 100%;
  }
}

.modal {
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
  .close {
    display: flex;
  }

  .btn-close {
    margin-right: 0px;
    cursor: pointer;
  }
}

.is-visibily {
  opacity: 1;
  visibility: visible;
}

.section-secondary-dish div:nth-child(2) {
  /* width: 653px; */

  .paragraph {
    margin-block: 40px 33px;
  }

  div {
    margin-top: 67px;
    display: flex;
    gap: 75px;
  }

  .button-secondary {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    font-weight: 600;
    color: #515151;
    cursor: pointer;
  }
}

.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    margin-block: 35px;
  }

  p {
    max-width: 717px;
    text-align: center;
  }

  .cards {
    margin-top: 174px;
    margin-inline: 0;
    padding: 24px;
    ul {
      display: flex;
      gap: 80px;
      align-items: center;
      justify-content: center;
    }

    li {
      padding: 10px;
      max-width: 347px;
      width: 100%;
      height: 434px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: var(--white);
      border-radius: 20px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

      h2 {
        font-size: 30px;
        font-weight: 700;
        color: #505050;
        text-align: center;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        color: #474747;
      }
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
  padding-inline: 220px;

  blockquote {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding-inline: 100px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }

  .avatar {
    margin-top: 10px;
  }

  .paragraph {
    color: #515151;
    max-width: 717px;
    margin-block: 34px;
  }

  cite {
    font-size: 30px;
    font-weight: 600;
    color: #1c1c1c;
    margin-block: 35px 45px;
    display: block;
  }
}

.subscription {
  padding-inline: 220px;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  gap: 100px;
  margin-inline: 0;

  h2 {
    text-align: center;
  }

  .input-email {
    position: relative;
    width: 100%;
  }

  input {
    padding: 40px 50px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 100px;
    outline: none;
  }

  ::placeholder {
    color: #8d8d8d;
    font-size: 30px;
    font-weight: 500;
  }

  :focus {
    border: 1px solid var(--amarelo);
  }

  button {
    padding-block: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
  }
}

footer.footer {
  display: flex;
  padding-inline: 220px;
  margin-top: 200px;
  margin-inline: auto;
  padding-bottom: 100px;
  gap: 50px;

  .midias ul {
    display: flex;
    gap: 25px;
    margin-top: 35px;
  }

  a {
    color: var(--gray-title);
    font-weight: 700;
    font-size: 20px;
    margin-block: 16px;
    display: block;
  }

  ul {
    margin-top: 18px;
  }

  h2 {
    font-family: "Reem Kufi", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }

  header {
    padding: 12px;
  }
  .menu {
    position: fixed;
    right: -100%;
    height: 10000px;
    z-index: 20;
    transition: all 0.4s ease-in-out;
  }
  .menu .brand {
    color: var(--amarelo);
    font-size: 18px;
  }

  .menu.is-open {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .btn-booking {
    background-color: var(--amarelo);
    width: 200px;
  }

  .btn-menu-close {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-desktop {
    flex-direction: column;

    button {
      font-size: 14px;
      padding: 12px;
    }
  }

  .btn-menu {
    background-color: var(--amarelo);
    padding: 10px 20px;

    svg {
      fill: #fff;
    }
  }

  .menu nav ul {
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
  }

  .menu nav ul li a .is-open {
    font-size: 12px;
  }

  .howItWorks {
    padding-inline: 24px;

    h2 {
      text-align: center;
      font-size: 32px;
    }

    .paragraph {
      font-size: 18px;
    }
  }

  .cards {
    ul {
      flex-direction: column;
    }
  }

  .section-first-dish {
    padding-inline: 24px;
    h1 {
      font-size: 32px;
    }
  }
  .paragraph {
    font-size: 18px;
  }

  .section-secondary-dish {
    padding-inline: 24px;
    h1 {
      font-size: 32px;
    }
  }

  a .button-secondary {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
  }

  .testimonial {
    padding-inline: 24px;
    margin-top: 100px;
  }

  .subscription {
    padding-inline: 24px;

    h2 {
      text-align: center;
    }
  }

  .section-secondary-dish div:nth-child(2) {
    div {
      gap: 10px;
      margin-top: 32px;

      .button-secondary {
        font-size: 18px;
      }
    }
  }

  .btn-actions-secondary {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      font-size: 18px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .subscription {
    .input-email {
      input {
        padding: 20px 12px;
      }
      ::placeholder {
        font-size: 12px;
      }
    }

    button {
      padding-block: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
    }
  }

  footer.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 12px;
  }
}

@media screen and (max-width: 320px) {
  footer.footer {
    grid-template-columns: 1fr;
  }
}
